.sortBtn {
  /* border: 1px solid red; */
  margin: 30px 50px !important;
}

.sortBtn p {
  padding: 5px 20px 5px 0px!important;
  font-size: 20px;
}

.sortBtn p:hover {
  cursor: pointer;
  color: #a13baf;
}
