.searchArea {
  margin: 20px 50px !important;
}

.userName {
  color: rgb(83, 79, 79);
  font-size: 20px;
}

.userName span {
  font-weight: bold !important;
  color: #a13baf;
}

.inputArea input {
  width: 60%;
  padding: 5px !important;
}

.commonBtn {
  background-color: #a13baf;
  color: white;
  padding: 7px 8px !important;
  margin-left: 10px !important;
  border: none !important;
  font-weight: 500;
}

.commonBtn:hover {
  background-color: #943397;
}
